/*!
 * Start Bootstrap - Freelancer Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */


@font-face {
    font-family: 'ralewaythin_italic';
    src: url('../fonts/raleway-thinitalic-webfont.eot');
    src: url('../fonts/raleway-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-thinitalic-webfont.woff') format('woff'),
         url('../fonts/raleway-thinitalic-webfont.ttf') format('truetype'),
         url('../fonts/raleway-thinitalic-webfont.svg#ralewaythin_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: GothanBook;
    margin: -1px;
    overflow-y: scroll;
}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    /*outline: 0;*/
    /*color: #669933;*/
    color:black;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

body, html{height: 100%}
* { margin: 0; padding: 0;overflow-x:hidden; }

body {
  background: url(../img/bckg.jpg) no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  height: 100%;
width:100%;
paddin:0;
margin:0;


}

.letras{font-family: 'ralewaythin_italic';
    font-size: 20px;
    color: #8b231f;
    font-weight: initial;
    list-style: none;
    font-weight: bold;
  }

  .terminos {
    height: 220px;
    overflow-y: scroll;
    margin: 30px auto;
    padding: 0 30px 0 30px;
    text-align: justify;
}

.slogan{
  max-height: 160px;
}

.Logos_eslogan{ margin-top: 20px}
.Logos_eslogan img{ width: 25%}

.btn_enviar{
display:block;
background: url("../img/btn_aceptar.png");
    height: 50px;
    width: 110px;
margin: 10px auto;
}


.btn_enviar:hover{
display:block;
background: url("../img/btn_aceptar_on.png");
    height: 50px;
    width: 110px;
}


.btn_aceptar{
    display:block;
    background: url("../img/btn_aceptar.png");
    height: 44px;
    width:111px;
    margin: 10px auto;
}


.btn_aceptar:hover{
    display:block;
    background: url("../img/btn_aceptar_on.png");
    height: 44px;
    width:111px;
}

.carta{
    margin: 0 auto;
    padding: 0px;
    width:70%;
    height: 320px;
    background: url("../img/hoja.png") no-repeat center center;
 -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}

.escribir{
    height: 90%;
width: 90%;
background-color: transparent;
margin: 10px auto;
display: block;
border: none;
resize: none;
color:  #8b231f;

}

.escribir .scroll-bar:vertical:disabled {
    -fx-opacity: 0;
}


.escribir:focus {
    outline: none !important;
    border:0px solid red;
}



h2 img{width:auto; max-height: 50px; margin: 0 auto}

#myModal{
    width: 80%;
margin: 0 auto;
}

#myModalN{
    width: 80%;
margin: 0 auto;

}

@media screen and (max-width: 1200px){
  .carta{height: 260px}
 }


@media screen and (max-width: 520px){
    .letras{font-size: 16px}
    .Logos_eslogan img{ width: 50%}
.carta{height: 320px}
  .terminos {
    height: 200px;
    overflow-y: scroll;
    margin: 30px auto;
    padding: 0 10px 0 10px;
    text-align: justify;
}
.escribir{
height: 70%;
}

  #myModal{
    width: 100%;
    margin: 0 auto;
}

#myModal2{
    width: 100%;
    margin: 0 auto;
}

h2 img {
    width: auto;
    max-height: 38px;
    margin: 0 auto;
}

}

@media screen and (min-width: 321px) and  (max-width: 375px){
	.letras {
    	font-size: 15px;
	}
}

@media screen and (max-width: 992px){
 .carta {
     width: 80%;
     height: 350px;
     background: url("../img/hoja.png") no-repeat center center;
     -webkit-background-size: auto 100%;
     -moz-background-size: auto 100%;
     -o-background-size: auto 100%;
     background-size: auto 100%;
 }
}

@media screen and (max-width: 320px){
body{width:90%; margin-left: 20px}
}
/*.logo {
    position: absolute;
    right: 0px;
    bottom: -60px;
    width: 200px;
}
.boton_velo img{position: absolute; bottom: 20px; margin: 0 auto; left: 0px; right: 0px;}
.velo{top: 180px;}
.centro {}
.enviar{top: -40px; }
.escribir {
    width: 50%;
    height: 330px;
    background: transparent;
    border: none;
    text-align: center;
    margin: 15px;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    top: 320px;
}
.con_letras{
    margin-top: 55px;
    list-style-type: none;
    text-align: center;
}
.btn {
  position: absolute;
  right:0;
  left:0;
  bottom:0;
  margin: 0 auto;
}
.escribir:focus{outline: none !important; }
.pequeño{font-size: 13px}

#descarga{

}

@media (max-width: 600px) {
  #descarga img{     width: 50px;
    z-index: 1000;}
  .escribir{top:195px;}
}

/* scroll */
::-webkit-scrollbar{
  width: 15px;
  background: #dbe8ec;
}
::-webkit-scrollbar-thumb{
  background: #acaeb1;
}
::-webkit-scrollbar-button{
  width: 20px;
  height: 20px;
  background: url("../img/flecha_arriba.png") no-repeat;
  background-size: contain;

}
::-webkit-scrollbar-button:start{
  width: 20px;
  height: 20px;
  background: url("../img/arrow-up.png") no-repeat;
  background-size: contain;

}

::-webkit-scrollbar-button:end{
  width: 20px;
  height: 20px;
 background: url("../img/arrow-down.png") no-repeat;
  background-size: contain;

}

@media (max-width: 767px) {
	  ::-webkit-scrollbar{
	  width: 0px;
	  background: #dbe8ec;
	}
	::-webkit-scrollbar-thumb{
	  background: #acaeb1;
	}
	::-webkit-scrollbar-button{
	  width: 20px;
	  height: 20px;
	  background: url("../img/flecha_arriba.png") no-repeat;
	  background-size: contain;

	}
	::-webkit-scrollbar-button:start{
	  width: 20px;
	  height: 20px;
	  background: url("../img/arrow-up.png") no-repeat;
	  background-size: contain;

	}

	::-webkit-scrollbar-button:end{
	  width: 20px;
	  height: 20px;
	 background: url("../img/arrow-down.png") no-repeat;
	  background-size: contain;

	}
}

